.reports-stack {
    flex-direction: column;
}

.admin-panel {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 100px;
}

.bg-blue {
    border: 2px solid blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}
